@import "mixins";

input[type=submit] {
	border: none;
	padding: 14px 70px;
	background: #0062FF;
	border-radius: 2px;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	font-weight: 700;
	cursor: pointer;
	@include sm {
		display: block;
		width: 100%;
		max-width: 280px;
		margin: 0 auto;
	}
}

.input {
	position: relative;

	input {
		font-family: Arial;
		outline: none;
		background: #FFFFFF;
		border: 1px solid #E6E6E6;
		border-radius: 6px;
		padding: 18px 20px;
		font-size: 14px;
		line-height: 14px;
		color: #222222;
		height: 50px;
		@include sm {
			width: 100%;
		}

		&:focus {
			border: 2px solid #7F7F7F;
			padding-bottom: 9px;

			+ .input__label {
				top: 8px;
			}
		}

		&._not-empty {
			padding-bottom: 9px;

			+ .input__label {
				top: 8px;
			}
		}
	}

	&__label {
		position: absolute;
		left: 20px;
		top: 18px;
		font-family: Arial;
		font-size: 14px;
		line-height: 14px;
		color: #777777;
		transition: 0.3s;
	}
}


textarea {
	font-family: Arial;
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	border-radius: 6px;
	padding: 15px 20px;
	display: block;
	outline: #7F7F7F;
	resize: none;
	min-height: 120px;

	&:focus {
		border: 2px solid #7F7F7F;
	}
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	margin-bottom: 30px;
	@include sm {
		margin-bottom: 20px;
	}

	&__item {
		display: none;

		&:checked + .stars__label, &:checked ~ .stars__label {
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 18.75L5.15268 22.6127L6.5559 14.4314L0.611794 8.63729L8.82634 7.44364L12.5 0L16.1737 7.44364L24.3882 8.63729L18.4441 14.4314L19.8473 22.6127L12.5 18.75Z' fill='%23FFB400'/%3E%3C/svg%3E%0A");
		}
	}

	&__label {
		background-image: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7327 18.3074L12.5 18.1851L12.2673 18.3074L5.81675 21.6987L7.0487 14.5159L7.09314 14.2568L6.9049 14.0733L1.68627 8.98641L8.89824 7.93845L9.15838 7.90065L9.27471 7.66493L12.5 1.12978L15.7253 7.66493L15.8416 7.90065L16.1018 7.93845L23.3137 8.98641L18.0951 14.0733L17.9069 14.2568L17.9513 14.5159L19.1833 21.6987L12.7327 18.3074Z' stroke='%23979797'/%3E%3C/svg%3E%0A");
		background-position: center;
		width: 25px;
		height: 25px;
		display: block;
		margin-right: 10px;
		cursor: pointer;
		transition: 0.3s;

		&:hover, &:hover ~ .stars__label {
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 18.75L5.15268 22.6127L6.5559 14.4314L0.611794 8.63729L8.82634 7.44364L12.5 0L16.1737 7.44364L24.3882 8.63729L18.4441 14.4314L19.8473 22.6127L12.5 18.75Z' fill='%23FFB400'/%3E%3C/svg%3E%0A");
		}
	}
}